@import 'bootstrap';
@import 'homepage.css';
@import 'card.css';
@import 'auth.css';
@import 'index.css';
@import 'navbar.css';
@import 'sfondo.css';

:root{
    --textone:rgb(90, 121, 225);
    --main:rgb(167, 164, 1);
    --sec:rgb(255, 255, 255);
    --ter:rgb(160, 204, 233);
    --four:rgb(193, 180, 96);
}

.text-decoration{
    text-decoration: none;
}

.text-decoration:hover{
  text-decoration: none;
}

.h1-custom{

    color: var(--sec);
}

h1,h2,h3,h4,h5{
    font-family: 'Anton', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    color:var(--four);
}

.body{
  font-family: 'Crete Round', serif;
}

.p{
    font-family: 'Crete Round', serif;
    color: var(--four);
}

.p:hover{
    transform: scale(1.1);
    transition: 0.5s;
    color: var(--four);
}


  

  