.titolo{
  animation-name: title;
  animation-duration: 5s;
  animation-iteration-count: 1;
  }

@keyframes title{
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

.header{
  background-image:url(/public/img/header.jpg);
  background-position: center top;
  background-size: contain;
  height: 580px;
}


/* button */
.btn{
  padding: 10px 25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  color: white;
}

.btn-gradient{
  background: linear-gradient(45deg,rgb(193, 180, 96),rgb(223, 221, 60));
  background-size: 300%;
}

.btn-gradient:hover{
background-size: 100%;
transform: scale(1.08);
transition: 0.5s;
}


@media screen and(max-width:670px){
  h1,h2,h3,h4,h5{
    font-size: 2px;
  }
}

