.sfondo-auth{
    background: url(/public/img/sfondo.jpg);
    background-position: center;
    background-size: cover;
}

.sfondo-index{
    background: url(/public/img/sfondo2.jpg);
    background-position: center;
    background-size: cover;
}